---
layout: workshop
root: .
venue: DIBSI – Valley Hall 2071, UC Davis School of Veterinary Medicine # brief name of host site without address (e.g., "Euphoric State University")
address: 944 Garrod Drive, Davis CA    # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: us    # country (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: en   # language (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: 38.5323, 121.7622     # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: June 19-23, 2017  # human-readable date (e.g., "Feb 17-18, 2020")
humantime: 9:00 am - variable  # human-readable time (e.g., "9:00 am - 4:30 pm")
startdate: 2017-06-19  # use YYYY-MM-DD format like "2015-01-01"
enddate: 2017-06-23    # use YYYY-MM-DD format like" 2015-01-02"
trainer: ["Lex Nederbragt", "Sue McClatchy", "Karen Word", "Titus Brown"]   # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper:      # list of names like above
contact: dibsi.training@gmail.com    # contact email address for workshop organizer, such as "grace@hopper.org"
etherpad: http://pad.software-carpentry.org/DIBSI-TTT-Monday    # optional (insert the URL for your Etherpad if you're using one)
eventbrite:       # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")
prep-repository:  # optional (insert the URL for the repository where the trainees are supposed to submit the PR 
---
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<p>
  This week-long workshop is intended for people interested in teaching, reusing
  and repurposing the <a href="{{site.swc_site}}">Software Carpentry</a>, 
  <a href="{{site.dc_site}}">Data Carpentry</a> or <a href="angus.readthedocs.io/en/2016/">Analyzing
  High Throughput Sequencing Data</a> materials. It covers the basics of
  educational psychology and instructional design, and looks at how to
  use these ideas in both intensive workshops and regular classes. The
  workshop is a mix of lectures and hands-on lessons where you practice
  giving a short lesson using approaches learned and implement some of
  the teaching techniques which we will discuss. This is training for
  teaching, not technical training; will be working on development of bioinformatics
  materials, but will not be teaching that content. This workshop builds upon the
  Carpentries instructor training, with added content pertaining to the 
  practicalities of organizing workshops with diverse formats
  and settings, development of genomics lessons, and includes some stages of instructor
  checkout for those who wish to complete the Carpentries certification.
  The Carpentries' mission is to help scientists and engineers get more research done 
  in less time and with less pain by teaching them basic lab skills for scientific computing.  
  The constantly revised and updated Carpentries' Instructor Training curriculum is accessible
 <a href="{{site.swc_githubio}}/instructor-training/">here</a>.
</p>

<p>
  <strong>Who:</strong> The course is aimed at everyone who is
  interested in becoming a better teacher. In particular, this training
  is aimed at those who want to teach technical workshops, develop their 
  own workshop materials, and/or become Software and Data Carpentry
  instructors and contribute to the Carpentry training
  materials.  You don't currently have to be an instructor or a
  teacher to attend this workshop, but you do need to be willing and
  committed to becoming one and to improving your teaching techniques.
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<p>
  <strong>Requirements:</strong> Participants should bring a laptop
  that is Internet connected and has a functioning browser.  If you
  have it, a device for recording audio and video (mobile phones and
  laptops are OK) is useful as throughout the two days, we are going to record
  one another teaching in pairs or threes.  It does not have to be
  high-quality, but it should be good enough that you can understand
  what someone is saying.
</p>
<p>
  Please also read the
  <a href="#preparation">Preparation</a> section below.  You will also
  receive some further information before the workshop so please check
  your email.
</p>
<p>
  All participants are also required to abide by
  Software Carpentry's <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<p>
  <strong>Contact</strong>:
  Please email
  {% if page.contact %}
    <a href="mailto:{{page.contact}}">{{page.contact}}</a>
  {% else %}
    <a href="mailto:{{site.contact}}">{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Welcome and introductions</td></tr>
      <tr> <td>09:30</td> <td>Teaching as performance art</td></tr>
      <tr> <td>10:30</td> <td>Coffee break</td></tr>
      <tr> <td>10:45</td> <td>Teaching as a Performance Art – continued</td></tr>
      <tr> <td>12:00</td> <td>Lunch break</td></tr>
      <tr> <td>13:00</td> <td>Novices & Formative Assessment</td> </tr>
      <tr> <td>14:00</td> <td>Coffee break</td> </tr>
      <tr> <td>14:15</td> <td>Expertise & Memory</td> </tr>
      <tr> <td>15:15</td> <td>Performance Revised</td> </tr>
      <tr> <td>16:15</td> <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td> <td>Close</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Cognitive Load<br></td> </tr>
      <tr> <td>09:40</td> <td>Terms</td> </tr>
      <tr> <td>10:00</td> <td>Coffee break</td> </tr>
      <tr> <td>10:15</td> <td>Live coding</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break</td> </tr>
      <tr> <td>13:00</td> <td>Motivation & Demotivation</td> </tr>
      <tr> <td>14:00</td> <td>Coffee break</td> </tr>
      <tr> <td>14:15</td> <td>Leadership: Responding to Feedback (guest: Tracy Teal)</td> </tr>
      <tr> <td>15:15</td> <td>Wrap-up</td> </tr>
      <tr> <td>15:30</td> <td>Close</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>The Carpentries (guest: Tracy Teal)</td></tr>
      <tr> <td>10:15</td> <td>Coffee break</td></tr>
      <tr> <td>10:30</td> <td>Lessons & Objectives</td></tr>
      <tr> <td>12:00</td> <td>Lunch break</td></tr>
      <tr> <td>13:00</td> <td>Implicit Bias Training (guest: Anna Schneider)</td> </tr>
      <tr> <td>14:30</td> <td>Coffee break</td> </tr>
      <tr> <td>14:45</td> <td>Workshop Practicalities (with guests) </td> </tr>
      <tr> <td>16:15</td> <td>Lesson Contribution with GitHub, Jekyll (guest: Erin Becker)</td> </tr>
      <tr> <td>16:45</td> <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td> <td>Close</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Genomics lesson design & contribution (guest: Erin Becker)<br></td> </tr>
      <tr> <td>10:30</td> <td>Coffee break</td> </tr>
      <tr> <td>10:45</td> <td>Genomics lessons, continued</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break</td> </tr>
      <tr> <td>13:00</td> <td>Genomics lessons, continued</td> </tr>
      <tr> <td>14:00</td> <td>Helping and Helpers</td> </tr>
      <tr> <td>14:00</td> <td>Coffee break</td> </tr>
      <tr> <td>14:15</td> <td>Close / Independent Work Time</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Practice Time</td></tr>
      <tr> <td>10:00</td> <td>Coffee break</td></tr>
      <tr> <td>10:15</td> <td>Workshops in Other Settings (w/ guest: Chris Hamm)</td></tr>
      <tr> <td>12:00</td> <td>Lunch break</td></tr>
      <tr> <td>13:00</td> <td>Carpentries Checkout Demos</td> </tr>
      <tr> <td>14:30</td> <td>Coffee break</td> </tr>
      <tr> <td>14:45</td> <td>Checkout Demos cont'd</td> </tr>
      <tr> <td>16:15</td> <td>TBD (based on student interest)</td> </tr>
      <tr> <td>16:45</td> <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td> <td>Close</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
  </div>
</div>
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<h2>Syllabus</h2>

<p>
  Please see <a href="">this website</a> for the course material,
  or follow the links below:
</p>

<ol>
  <li><a href="">Introduction</a></li>
  <li><a href="">Terms</a></li>
  <li><a href="">Mental Models</a></li>
  <li><a href="">Lesson Study</a></li>
  <li><a href="">Mapping Expertise</a></li>
  <li><a href="">Managing Memory</a></li>
  <li><a href="">Lesson Design</a></li>
  <li><a href="">Teaching Practices</a></li>
  <li><a href="">Motivation</a></li>
  <li><a href="">Demotivation</a></li>
  <li><a href="">The Carpentries</a></li>
</ol>

<hr/>

<h2 id="preparation" name="preparation">Preparation</h2>

   
Please read these two short papers, which provide a brief overview of some key evidence-based results in teaching:
<p>
    <li>"The Science of Learning" <{{ page.training_site }}/files/papers/science-of-learning-2015.pdf></li>
   <li> "Success in Introductory Programming: What Works?" <{{ page.training_site }}/files/papers/porter-what-works-2013.pdf></li>
  <li> You may also wish to read Mark Guzdial's
      <a href="http://cacm.acm.org/blogs/blog-cacm/189498-top-10-myths-about-teaching-computer-science/fulltext">"Top 10 Myths About Teaching Computer Science"</a>,
    which is a nice overview of things that <em>are not</em> true, but are widely believed.</li>
</p>
    <li>
Please choose *one* episode from the list below and read through it carefully.
    You will be using your selected episode for several in-class exercises,
    so be sure you are comfortable with the content.
    </li>


<li>If you are interested in doing more reading, you may enjoy:</li>
<li> *[How Learning Works](http://www.amazon.com/How-Learning-Works-Research-Based-Jossey-Bass/dp/0470484101/)*,
    which is an excellent summary of current research in teaching and learning </li>
*   *[Building a Better Teacher](http://www.amazon.com/Building-Better-Teacher-Teaching-Everyone/dp/0393081591/)*,
    a well-written look at why educational reforms in the past 50 years have mostly missed the mark
    and about what we should be doing instead
*   *[Teaching What You Don't Know](http://www.amazon.com/Teaching-What-You-Dont-Know/dp/0674066170/)*,
    which is a situation many of us find ourselves in more often that we'd like.
  
Episodes
--------

Please read through *one* of the episodes below carefully, so that you can do some exercises based on it on the first day of the class.

**Next-Generation Sequence Analysis Workshop**
* Select a lesson from the 2016 ANGUS curriculum: <https://angus.readthedocs.io/en/2016/>

**Data Carpentry**

* Wrangling Genomics - Read QC: <{{ site.dc_site }}/wrangling-genomics/00-readQC.html>
* Basic Queries in SQL: <{{ site.dc_site }}/sql-ecology-lesson/01-sql-basic-queries/>
* Starting with Data in R: <{{ site.dc_site }}/R-ecology-lesson/02-starting-with-data.html>
* Starting with Data in Python: <{{ site.dc_site }}/python-ecology-lesson/01-starting-with-data>

**Software Carpentry**

* Working with Files and Directories in the Unix Shell: <{{ site.swc_pages }}/shell-novice/03-create/>
* Tracking Changes in Git: <{{ site.swc_pages }}/git-novice/04-changes/>
* Selecting Data in SQL: <{{ site.swc_pages }}/sql-novice-survey/01-select/>
* Repeating Actions with Loops in Python: <{{ site.swc_pages }}/python-novice-inflammation/02-loop/>
* Exploring Data Frames in R: <{{ site.swc_pages }}/r-novice-gapminder/05-data-structures-part2/>
